{% extends 'vet/generic/../../base.html' %}
{% block title %}Owner detail{% endblock %}
{% block body %}
    {% include 'vet/specialiation/owner_detail_template.html' %}
    <a href="{% url 'vet:animal-create' %}"> Add animal to owner</a>
    <a href="{% url 'vet:owner-update' object.pk %}"> Update current owner</a>
    <a href="{% url 'vet:owner-delete' object.pk %}"> Delete current owner</a>
    <br>
    {% for animal in object.animal_set.all %}
        <a href="{% url 'vet:animal-detail' animal.pk %}"> {{ animal }}</a><br>
    {% endfor %}

{% endblock %}
