{% extends 'base.html' %}
{% load i18n %}
{% block panel_title %}{% block title %}Информация о владельце{% endblock %}{% endblock %}
{% block back_button %}
    <a href="{% url 'vet:owner-list' %}" class="btn btn-success" role="button">
        Список владельцев
    </a>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'vet:owner-update' object.pk %}" class="btn btn-warning" role="button">
                Обновить информацию о владельце
            </a>
            <a href="{% url 'vet:owner-delete' object.pk %}" class="btn btn-danger" role="button">
                Удалить владельца из базы
            </a>
        </div>
        <div class="panel-body">
            {% include 'vet/owner/detail_templete_full.html' %}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'vet:animal-create-owner' object.pk %}" class="btn btn-success" role="button">
                Добавить питомец владельцу
            </a>
            {% blocktrans %}Список питомцев владельца{% endblocktrans %}
        </div>
        {% include 'vet/animal/list_template_preview.html' with object_list=object.animal_set.all %}
    </div>
{% endblock %}
