{% for owner in object_list %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'vet:owner-detail' owner.pk %}" class="btn btn-info" role="button">
                Подробнее о владельце
            </a>
            <a href="{% url 'vet:animal-create-owner' owner.pk %}" class="btn btn-success" role="button">
                Добавить животное владельцу
            </a>
            <a href="{% url 'vet:owner-update' owner.pk %}" class="btn btn-warning" role="button">
                Обновить информацию о владельце
            </a>
            <a href="{% url 'vet:owner-delete' owner.pk %}" class="btn btn-danger" role="button">
                Удалить владельца из базы
            </a>
        </div>
        <div class="panel-body">
            {% include 'vet/owner/detail_templete_preview.html' %}
        </div>
    </div>
{% endfor %}