<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in object_list %}
            <tr onclick="window.location='{% url "vet:owner-detail" owner.pk %}';">
                <td>{{ owner.fio }}</td>
                <td>
                    <info>{{ owner.address }}</info>
                </td>
                <td>
                    <info>{{ owner.phone }}</info>
                </td>
                <td>
                    <info>{{ owner.email }}</info>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>