{% load i18n %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "ФИО" %}</th>
            <th>{% trans "Адрес" %}</th>
            <th>{% trans "Телефон" %}</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in object_list %}
            <tr onclick="window.location='{% url "vet:owner-detail" owner.pk %}';">
                <td>{{ owner.fio }}</td>
                <td>
                    <span class="info">{{ owner.address }}</span>
                </td>
                <td>
                    <span class="info">{{ owner.phone }}</span>
                </td>
                <td>
                    <span class="info">{{ owner.email }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>