html {
  position: relative;
  min-height: 100%;
  height: 100%
}

body {
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  background: white url("images/background.png");
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-family: "Satisfy", cursive;
}

.ui-datepicker select {
  padding: 0 4px;
  height: 25px;
}

.autocomplete:not([disabled]) {
  background-image: url("images/choice.jpg");
  background-position: 97% center;
  background-repeat: no-repeat;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url("images/choice.jpg");
  background-position: 97% center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 178px;
}

tr[onclick]:hover {
  cursor: pointer;
}

@media (max-width: 1057px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}