html {
    position: relative;
    min-height: 100%;
}
html,body{
    height: 100%
}
body {
    margin-top: 60px;
    margin-bottom: 60px;
    background: white url("images/background.png");
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: "Satisfy", cursive;
}

.ui-datepicker select {
    padding: 0 4px;
    height: 25px;
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 2px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 182px;
}
tr[onclick]:hover {
     cursor: pointer;
}