{% extends 'base.html' %}
{% block panel_title %}{% block title %}Информация об терапии{% endblock %}{% endblock %}
{% block back_button %}
    <a href="{% url 'vet:animal-detail' object.animal.pk %}" class="btn btn-success" role="button">
        Перейте к животному
    </a>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'vet:therapy-update' object.pk %}" class="btn btn-warning" role="button">
                Обновить информацию об терапии</a>
            <a href="{% url 'vet:therapy-delete' object.pk %}" class="btn btn-danger" role="button">
                Удалить терапию</a>
        </div>
        <div class="panel-body">
            {% include 'vet/therapy/detail_template_full.html' with therapy=object %}
        </div>
    </div>
{% endblock %}