<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Имя животного</th>
            <th>Дата приёма</th>
            <th>Диагноз</th>
        </tr>
        </thead>
        <tbody>
        {% for therapy in object_list %}
            <tr onclick="window.location='{% url 'vet:therapy-detail' therapy.pk %}';">
                <td>
                    <info>{{ therapy.animal.name }}</info>
                </td>
                <td>
                    <info>{{ therapy.date }}</info>
                </td>
                <td>
                    <info>{{ therapy.get_diagnosis }}</info>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
