{% load i18n %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% blocktrans %}Имя животного{% endblocktrans %}</th>
            <th>{% blocktrans %}Дата приёма{% endblocktrans %}</th>
            <th>{% trans "Диагноз" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for therapy in object_list %}
            <tr onclick="window.location='{% url 'vet:therapy-detail' therapy.pk %}';">
                <td>
                    {{ therapy.animal.name }}
                </td>
                <td>
                    {{ therapy.date }}
                </td>
                <td>
                    {{ therapy.diagnosis }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
