{% load i18n %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "Вакцина" %}</th>
            <th>{% trans "Действие" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for vaccination in object_list %}
            <tr>
                <td contenteditable="true" class="vaccination"
                    id="{{ vaccination.pk }}">{{ vaccination.value }}</td>
                <td>
                    <button type="button"
                            value="{{ vaccination.pk }}"
                            class="btn btn-warning btn-sm update">{% trans "Обновить" %}
                    </button>
                    <button onclick="location.href='{% url 'vet:vaccination-delete' vaccination.pk %}'"
                            type="button"
                            class="btn btn-danger btn-sm delete">{% trans "Удалить" %}
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td contenteditable="true" id='add'></td>
            <td>
                <button type="button" class="btn btn-success btn-sm add">
                    {% trans "Добавить" %}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
