{% extends 'base.html' %}
{% load i18n %}
{% block panel_title %}{% block title %}{% blocktrans %}Список всех прививок{% endblocktrans %}
{% endblock %}{% endblock %}
{% block sript %}
    {% csrf_token %}
    <script type="text/javascript">
        let csrftoken = $("[name=csrfmiddlewaretoken]").val();
    </script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <table class="table table-hover  table-bordered table-striped text-center" data-model-name="vaccination">
            <thead>
            <tr>
                <th class="text-center">{% trans "Вакцина" %}</th>
                <th class="text-center col-md-3">{% trans "Действие" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for vaccination in object_list %}
                <tr id="{{ vaccination.pk }}">
                    <td contenteditable="true">{{ vaccination.value }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm update">{% trans "Обновить" %}</button>
                        <button type="button" class="btn btn-danger btn-sm delete">{% trans "Удалить" %}</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td contenteditable="true"></td>
                <td>
                    <button type="button" class="btn btn-success btn-sm add">{% trans "Добавить" %}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <span id="status_msg"></span>
    </div>

{% endblock %}

