{% extends 'base.html' %}
{% block panel_title %}{% block title %}Информация об вакцинации{% endblock %}{% endblock %}
{% block back_button %}
    <a href="{% url 'vet:animal-detail' object.animal.pk %}" class="btn btn-success" role="button">
        Перейте к животному
    </a>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'vet:prevention-update' object.pk %}" class="btn btn-warning" role="button">
                Обновить информацию об вакцине</a>
            <a href="{% url 'vet:prevention-delete' object.pk %}" class="btn btn-danger" role="button">
                Удалить вакцинацию</a>
        </div>
        <div class="panel-body">
            {% include 'vet/prevention/detail_template_full.html' with prevention=object %}
        </div>
    </div>
{% endblock %}