<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Имя животного</th>
            <th>Дата прививки</th>
            <th>Прививка</th>
            <th>Тип прививки</th>
        </tr>
        </thead>
        <tbody>
        {% for prevention in object_list %}
            <tr onclick="window.location='{% url 'vet:prevention-detail' prevention.pk %}';">
                <td>
                    {{ prevention.animal.name }}
                </td>
                <td>
                    {{ prevention.date }}
                </td>
                <td>
                    {{ prevention.vaccination }}
                </td>
                <td>
                    {{ prevention.get_type_vaccination_display }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
