<!DOCTYPE html>
<html lang="ru">
{% load static %}
<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Satisfy'>
<link rel="stylesheet" href="{% static 'vet/style.css' %}"/>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>

<script>
    function getRusStringNumber(value, strList) {
        let mod = value % 10;
        let loc_string;
        if (value < 20 && value > 11) {
            loc_string = strList[2]
        } else {
            if (mod === 1) {
                loc_string = strList[0];
            } else if (mod > 1 && mod < 5) {
                loc_string = strList[1];
            } else {
                loc_string = strList[2];
            }
        }
        return value + ' ' + loc_string
    }

    function getRusStringYear(year) {
        return getRusStringNumber(year, ['год', 'года', 'лет'])
    }

    function getRusStringMonth(month) {
        return getRusStringNumber(month, ['месяц', 'месяца', 'месяцев'])
    }

    $(function () {
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $(".datepicker").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
        });
        $(".age").text(function (i, origText) {
            moment.locale('ru');
            let birth = moment(origText, "DD MMM YYYY");
            let now = moment();
            let year = now.diff(birth, 'year');
            let month = now.diff(birth, 'month') % 12;
            return ((year) ? getRusStringYear(year) : '') + ' ' + getRusStringMonth(month);
        });
        $(".autocomplete[name='species_']").autocomplete({
            source: "{% url 'vet:ajax-autocomplete-species' %}",
            minLength: 1,

        });
        $(".autocomplete[name='subspecies_']").autocomplete({
            source: "{% url 'vet:ajax-autocomplete-subspecies' %}",
            minLength: 1,
            //TODO Add species_ in ajax request
        });
    });
</script>
<head>
    <meta charset="UTF-8">
    <title> {% block title %}Sound cloud {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="countainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle='collapse' data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'vet:owner-list' %}">VetWeb</a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'vet:owner-list' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Владельцы
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'vet:animal-list' %}">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;
                        Животные
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'vet:appointment-list' %}">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;
                        Посещения
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'vet:owner-create' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Новый владелец
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'vet:animal-create' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Новое животное
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'vet:appointment-create' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Новое посещение
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'account:user-register' %}">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>&nbsp;
                        Login
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'account:user-logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
                <li class="">
                    <a href="{% url "admin:index" %}">
                        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;
                        Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>