{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Satisfy'>
    <link rel="stylesheet" href="{% static 'vet/style.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
    {% block sript %}{% endblock %}
    <script>
        let ajax = {
            'owner': "{% url 'vet:ajax-owner' %}",
            'species': "{% url 'vet:ajax-species' %}",
            'diagnosis': "{% url 'vet:ajax-diagnosis' %}",
            'subspecies': "{% url 'vet:ajax-subspecies' %}",
            'vaccination': "{% url 'vet:ajax-vaccination' %}",
        };
        let url_accelerate = {
            'diagnosis': {
                'create': "{% url 'vet:diagnosis-create' %}",
                'update': '{% url 'vet:diagnosis-update' 0 %}',
                'delete': '{% url 'vet:diagnosis-delete' 0 %}',
            },
            'vaccination': {
                'create': "{% url 'vet:vaccination-create' %}",
                'update': '{% url 'vet:vaccination-update' 0 %}',
                'delete': '{% url 'vet:vaccination-delete' 0 %}',
            },
        };
    </script>
    <script src="{% static 'vet/main.js' %}"></script>
    <meta charset="UTF-8">
    <title> {% block title %}WetVeb{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="countainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle='collapse' data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <span><img src="{% static 'favicon.ico' %}" height="100%"/></span>
                VetWeb
            </a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="true">
                        Списки <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:owner-list' %}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                                {% trans "Владельцы" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:animal-list' %}">
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;
                                {% trans "Питомцы" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:prevention-list' %}">
                                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>&nbsp;
                                {% trans "Вакцинация" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:therapy-list' %}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;
                                {% trans "Терапия" %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="true">
                        Добавить <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:owner-create' %}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                {% trans "Владельца" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:animal-create' %}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                {% trans "Питомца" %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="true">
                        {% trans "Ускорители" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:species_subspecies-list' %}">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>&nbsp;
                                {% trans "Вид, порода" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:vaccination-list' %}">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>&nbsp;
                                {% trans "Прививки" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vet:diagnosis-list' %}">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>&nbsp;
                                {% trans "Диагнозы" %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form action="{% url 'vet:search' %}"
                  class=" nav-item navbar-form navbar-left search form-input" role="search">
                <div class="form-group">
                    <input type="search" class="form-control"  name="q" placeholder={% trans "Поиск" %} id="id_q">
                </div>
                <button type="submit" class="btn btn-default">{% trans "Поиск" %}</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p class="navbar-text">
                            {{ user.username }}
                        </p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <p class="navbar-text"></p>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading panel-warning">
                {% block back_button %}
                    <a href="{{ request.META.HTTP_REFERER|escape }}"
                       class="btn btn-success"
                       role="button">
                        {% trans "Назад" %}
                    </a>
                {% endblock %}
                {% block panel_title %}WetVeb{% endblock %}</div>
            <div class="panel-body">{% block body %}{% endblock %}</div>
        </div>
    </div>
</main>
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <p class="navbar-text">VetWeb</p>
            </li>
            <li class="nav-item">
                <p class="navbar-text">{% blocktrans %}База клиентов и питомцев ветклиники{% endblocktrans %}</p>
            </li>
            <li class="nav-item">
                <p class="navbar-text">muchkom@gmail.com</p>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>