{% extends 'base.html' %}
{% load i18n %}
{% block panel_title %}{% block title %}VetWeb{% endblock %}{% endblock %}
{% block back_button %}{% endblock %}
{% block body %}
    <h1>База данных для клиники</h1>
    <p>База состоит из информации о владельцах, о животных и о медецикских процедурах животных</p>
    {% if user.is_authenticated %}
        <p>Здраствуйте {{ user.username }}</p>
        <p>Для дальнейшей работы выберите нужный пункт в меню или произвести поиск по базе</p>
        <p>Вы можете разлогинится <a href="{% url 'registration:logout' %}" class="btn btn-danger" role="button">
            {% blocktrans %}Выход{% endblocktrans %}</a></p>
    {% else %}
        <p>Для дальнейшей работы нужно зарегестрироватся и залогинится
            <a href="{% url 'registration:signup' %}" class="btn btn-warning" role="button">
                {% blocktrans %}Регистрация{% endblocktrans %}</a>
            <a href="{% url 'registration:login' %}" class="btn btn-success" role="button">
                {% blocktrans %}Вход{% endblocktrans %}</a>
        </p>
    {% endif %}
{% endblock %}