<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Возвараст</th>
            <th>Пол</th>
            <th>Вид</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in object_list %}
            <tr onclick="window.location='{% url "vet:animal-detail" animal.pk %}';">
                <td>{{ animal.name }}</td>
                <td>
                    <age>{{ animal.date }}</age>
                </td>
                <td>{{ animal.get_gender_display }}</td>
                <td>{{ animal.species.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>