{% extends 'base.html' %}
{% block panel_title %}{% block title %}Список видов и пород{% endblock %}{% endblock %}
{% block body %}
    {% load i18n %}
    <div class="container-fluid">
        <table class="table table-hover  table-bordered table-striped text-center" data-model-name="subspecies">
            <thead>
            <tr>
                <th class="text-center col-md-5">{% trans "Вид" %}</th>
                <th class="text-center col-md-5">{% trans "Порода" %}</th>
                <th class="text-center col-md-2">{% trans "Действие" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for subspecies in object_list %}
                <tr id="{{ subspecies.pk }}">
                    <td contenteditable="true">{{ subspecies.species.value }}</td>
                    <td contenteditable="true">{{ subspecies.value }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm update">{% trans "Обновить" %}</button>
                        <button type="button" class="btn btn-danger btn-sm delete ">{% trans "Удалить" %}</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td>
                    <button type="button" class="btn btn-success btn-sm add">{% trans "Добавить" %}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <span id="error_msg" style="color:red"></span>
    </div>
{% endblock %}

